<!-- Portfolio Grid Section -->
    <section id="information" class="bg-light-gray">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-left"> 
                    <h2 class="section-heading">Conference Registration</h2>


    <h3>Registration Types Available</h3>
                        <br \>

                    <table cellpadding="5" cellspacing="10">

<tr>

                <th valign="top">Type</th>

                <th valign="top">Cost</th>

            <th valign="top">Closing date</th>

            <th valign="top">What's included</th>

</tr>
<tr>
                    <td valign="top">&nbsp;</td>

                <td valign="top">&nbsp;</td>

            <td valign="top">&nbsp;</td>

            <td valign="top">&nbsp;</td>
    </tr>
<tr>
    

                <td valign="top">Early Bird</td>

                <td valign="top">$200</td>

                <td valign="top">31 March, 2018</td>
    
                <td valign="top">Full registration<br \>
                Access to all conference sessions<br \>
                Access to all workshops<br \>
                Access to all social events</td>
  </tr>

<tr>
                    <td valign="top">&nbsp;</td>

                <td valign="top">&nbsp;</td>

            <td valign="top">&nbsp;</td>

            <td valign="top">&nbsp;</td>
    </tr>

                        <tr>
    

                <td valign="top">Regular</td>

                <td valign="top">$250</td>

                <td valign="top">15 May, 2018</td>
    
                <td valign="top">Full registration<br \>
                Access to all conference sessions<br \>
                Access to all workshops<br \>
                Access to all social events</td>
  </tr>

<tr>
                    <td valign="top">&nbsp;</td>

                <td valign="top">&nbsp;</td>

            <td valign="top">&nbsp;</td>

            <td valign="top">&nbsp;</td>
    </tr>
                        
 </table>


                </div>
            </div>
        </div>
    </section>
