<!-- Portfolio Grid Section -->
    <section id="information" class="bg-light-gray">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-left"> 
                    <h2 class="section-heading">Conference Registration</h2>
                    
         <style>
table, th, td {
    border: 1px solid black;
table {
    border-spacing: 5px;
}
}
th, td {
    padding: 10px;
}
                    </style>
                    <p class="text-muted">There will be a range of registration types offered. We will support lower fees for hardship cases. <a href="mailto:bweaver@carpentries.org">Mke your case here</a>.</p>
                    
    <h3>Registration Types Available</h3>
                        <br \>

                    <table width="100%" cellpadding="5" cellspacing="10" border="0">

<tr>

                <th valign="top">Type</th>

                <th valign="top">Cost</th>

            <th valign="top">Closing date</th>

            <th valign="top">What's included</th>
    
        <th valign="top">Register</th>
</tr>

<tr>
    

                <td valign="top">Early Bird</td>

                <td valign="top">$200</td>

                <td valign="top">16 March, 2018</td>
    
                <td valign="top">Full registration<br \>
                - Access to all conference sessions<br \>
                - Access to all workshops<br \>
                - Access to all social events</td>
                    <td valign="top">Register</td>
  </tr>

                        <tr>
    

                <td valign="top">Regular</td>

                <td valign="top">$250</td>

                <td valign="top">15 May, 2018</td>
    
                <td valign="top">Full registration<br \>
                - Access to all conference sessions<br \>
                - Access to all workshops<br \>
                - Access to all social events</td>
               <td valign="top">Register</td>
  </tr>

                                                <tr>
    

                <td valign="top">Full Time Student</td>

                <td valign="top">$100</td>

                <td valign="top">15 May, 2018</td>
    
                <td valign="top">Full registration<br \>
                - Access to all conference sessions<br \>
                - Access to all workshops<br \>
                - Access to all social events</td>
               <td valign="top">Register</td>
  </tr>

    <tr>
    

                <td valign="top">Last Minute</td>

                <td valign="top">$275</td>

                <td valign="top">After 15 May, 2018</td>
    
                <td valign="top">Full registration<br \>
                - Access to all conference sessions<br \>
                - Access to all workshops<br \>
                - Access to all social events</td>
                <td valign="top">Register</td>
  </tr>
 
                                                                               <tr>
    

                <td valign="top">Partner/Friend Dinner Ticket</td>

                <td valign="top">$45</td>

                <td valign="top">By 15 May, 2018</td>
    
                <td valign="top">Conference Dinner only<br \>
</td>
                <td valign="top">Register</td>
  </tr>
                        
 </table>


                </div>
            </div>
        </div>
    </section>
