<table cellpadding = 5>
  <tr>
    <th>
      <td valign="top">Date</td>
      <td valign="top">Time</td>
      <td valign="top">Session</td>
      <td valign="top">Location</td>
    </th>
  </tr>
  <tr>
    <td valign="top">29 May</td>
    <td valign="top">6:00 - 8:00 pm</td>
    <td valign="top">Welcome reception</td>
    <td valign="top">TBA</td>
  </tr>

  <tr>
    <td valign="top">30 May</td>
    <td valign="top">8:15 - 9:00 am</td>
    <td valign="top">registration</td>
    <td valign="top">Foyer</td>
  </tr>

  <tr>
    <td valign="top">30 May</td>
    <td valign="top">9:00 - 9:20 pm</td>
    <td valign="top">Bingo Cards</td>
    <td valign="top">Foyer</td>
  </tr>

  <tr>
    <td valign="top">30 May</td>
    <td valign="top">9:20 - 9:30 pm</td>
    <td valign="top">Welcome to Conference</td>
    <td valign="top">TBA</td>
  </tr>

  <tr>
    <td valign="top">30 May</td>
    <td valign="top">9:40 - 10:45 pm</td>
    <td valign="top">Keynote : Professor Desmond Higgins<br \>Includes question time</td>
    <td valign="top">TBA</td>
  </tr>

  <tr>
    <td valign="top">30 May</td>
    <td valign="top">10:45 - 11:30 pm</td>
    <td valign="top">Morning break and networking</td>
    <td valign="top">TBA</td>
  </tr>

  <tr>
    <td valign="top">30 May</td>
    <td valign="top">9:40 - 10:45 pm</td>
    <td valign="top">Keynote : Professor Desmond Higgins<br \>Includes question time</td>
    <td valign="top">TBA</td>
  </tr>

  <tr>
    <td valign="top">30 May</td>
    <td valign="top">11:30 - 12:30 pm</td>
    <td valign="top">Skill-Up 1: Project Leadership<br \>Skill-Up 2: Speaking Effectively<br \>Skill-Up 3: Contributing on GitHub</td>
    <td valign="top">TBA<br \>TBA<br \>TBA</td>
  </tr>

  <tr>
    <td valign="top">30 May</td>
    <td valign="top">12:30 - 1:30 pm</td>
    <td valign="top">Lunch</td>
    <td valign="top">TBA</td>
  </tr>
</table>
