<section id="portfolio" class="bg-light-gray">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-left">
            <h2 class="section-heading">CarpentryCon Sponsors</h2>


<h3>Current Sponsors</h3>
                     

    <h4>Venue Sponsor</h4>

<table>
    <tr>
        <td valign="top" width="100%">Venue Sponsor</td>
    </tr>
    <tr>
        <td valign="top"><img height="42" width="42" src="ucd_logo.png"></td>
        <td valign="top"><a href="http://www.ucd.ie/">University College Dublin</a></td>
    </tr>
    <tr>
        <td valign="top" width="100%">Travel Sponsor</td>
    </tr>
    <tr>
        <td valign="top"><img height="42" width="80" src="../img/logos/failte-ireland_logo.gif"></td>
    <td valign="top"><a href="http://www.failteireland.ie/">Failte Ireland</a> </td>
            </tr>
    <tr>
        <td valign="top" width="100%">Gift Sponsor</td>
    </tr>
    <tr>
        <td valign="top"><img height="42" width="42" src="../img/logos/overleaf.png"></td>
        <td valign="top"><a href="https://www.overleaf.com/">Overleaf</a></td>
  
    </tr>
                </table>
       
                </div>
            </div>
        </div>
    </section>
