<section id="portfolio" class="bg-light-gray">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-left">
            <h2 class="section-heading">CarpentryCon Sponsors</h2>


<h3>Current Sponsors</h3>
                        <br \>

    <h4>Venue Sponsor</h4>


    <img height="42" width="42" src="../img/logos/ucd_logo.png">
           
   <a href="http://www.ucd.ie/">University College Dublin</a>

                <h4>Travel Sponsor</h4>

<img height="42" width="80" src="../img/logos/failte-ireland_logo.gif">
                <a href="http://www.failteireland.ie/">F&aacute;ilte Ireland</a> 

                <h4>Gift Sponsor</h4>

<img height="42" width="42" src="../img/logos/overleaf.jpg"> 
            <a href="https://www.overleaf.com/">Overleaf</a>
  

       
                </div>
            </div>
        </div>
    </section>
